<div class="container">
    <h1>CRISIS CENTER</h1>
    <p>Get your crisis here</p>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crisis of crises">
            <td>{{ crisis.id }}</td>
            <td>{{ crisis.name }}</td>
            <td>{{ crisis.description }}</td>
            <td>{{ crisis.location }}</td>
            <td>{{ crisis.status }}</td>
            <td>
              <button>
                <a routerLink="/crisis-detail/{{crisis.id}}">Detail</a>
              </button>
              <button type="button" class="delete" title="delete crisis" (click)="delete(crisis)">Delete</button>
            </td>
          </tr>
        </tbody>
    </table>
    <button class="goback" (click)="goBack()">Go Back</button>
</div>
