<div class="crisis-list">
    <h3>CRISIS CENTER</h3>
    <p>Get your crisis here</p>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crisis of crises">
            <td>{{ crisis.id }}</td>
            <td>{{ crisis.name }}</td>
            <td>{{ crisis.description }}</td>
            <td>{{ crisis.location }}</td>
            <td>{{ crisis.status }}</td>
          </tr>
        </tbody>
    </table>
</div>
