<div class="dashboard">
  <h1>Dashboard</h1>
  <app-hero-search></app-hero-search>
  <div class="card" *ngFor="let rank of ranks">
    <div class="card-header">{{ rank }} Rank Heroes List</div>
    <div class="card-body">
      <ul *ngFor="let hero of heroesByRank[rank]">
        <li>
            <a 
            routerLink="/hero-detail/{{hero.id}}">
            {{hero.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      Footer
    </div>
  </div>
</div>